src/example/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="requestJsonString" type="xsd:string"/>
   <element name="recommendRequestReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="recommendRequestResponse">

      <wsdl:part element="impl:recommendRequestReturn" name="recommendRequestReturn"/>

   </wsdl:message>

   <wsdl:message name="recommendRequestRequest">

      <wsdl:part element="impl:requestJsonString" name="requestJsonString"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="recommendRequest" parameterOrder="requestJsonString">

         <wsdl:input message="impl:recommendRequestRequest" name="recommendRequestRequest"/>

         <wsdl:output message="impl:recommendRequestResponse" name="recommendRequestResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="recommendRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recommendRequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recommendRequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080//services/example/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
